{% extends 'admin/inc/base.html' %}
{% block content %}
<h2 class="text-center">Socialapp List</h2>

<div>
    <div class="mb-5"><a href="{% url 'socialapp_create' %}" class="btn btn-success float-end mx-5" >Create</a>
    </div>
    <div class="container p-5">
        <table class="table table-bordered" style="font-size:18px;">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Provider</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
    
            <tbody>
            {% for socialapp in socialapp %} 
              <tr>
                <td>{{ socialapp.name }}</td>
                <td>{{ socialapp.provider }}</td>
                <td>
                  <button type="button" class="btn btn-warning"><a href="{% url 'socialapp_edit' socialapp.pk %}" class="btn btn-warning" >
                    Edit</a></button>
                  <button type="button" class="btn btn-danger"><a href="{% url 'socialapp_delete' socialapp.pk %}" class="btn btn-danger">Delete</a></button>
                </td>
             
              </tr>
            {% empty %}
              <li>No socialapps found.</li>
            {% endfor %}  
            </tbody>
        </table> 
    </div>
</div>
{% endblock content %}