{% extends 'admin/inc/base.html' %}
{% block content %}
<h1>Slider List</h1>

<div>
    <div class="mb-5"><a href="{% url 'slider_create' %}" class="btn btn-success float-end mx-5" >Add</a>
    </div>
    <div class="container p-5">
        <table class="table table-bordered " style="font-size:18px;">
            <thead>
              <tr>
                <th scope="col">Titlel</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
    
            <tbody>
            {% for slider in Slider %} 
              <tr>
                <td>{{ slider.title }}</td>
                <td>
                  <button type="button" class="btn btn-warning"><a href="{% url 'slider_edit' slider.pk %}" class="btn btn-warning" >
                    Edit</a></button>
                  <button type="button" class="btn btn-danger"><a href="{% url 'slider_delete' slider.pk %}" class="btn btn-danger">Delete</a></button>
                </td>
             
              </tr>
            {% empty %}
              <li>No Sliders found.</li>
            {% endfor %}  
            </tbody>
        </table> 
    </div>
</div>
{% endblock content %}