{% extends 'admin/inc/base.html' %}
{% block content %}
<h3>Blogs Page</h3>

<div>
    <div class="mb-5"><a href="{% url 'blogs_create' %}" class="btn btn-success float-end mx-5" >Add</a>
    </div>
    <div class="container p-5">
        <table class="table table-bordered " style="font-size:18px;">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
    
            <tbody>
            {% for blogs in blogs %} 
              <tr>
                <td>{{ blogs.name }}</td>
                <td>
                  <button type="button" class="btn btn-warning"><a href="{% url 'blogs_edit' blogs.pk %}" class="btn btn-warning" >
                    Edit</a></button>
                  <button type="button" class="btn btn-danger"><a href="{% url 'blogs_delete' blogs.pk %}" class="btn btn-danger">Delete</a></button>
                </td>
             
              </tr>
            {% empty %}
              <li>No blogs found.</li>
            {% endfor %}  
            </tbody>
        </table> 
    </div>
</div>
{% endblock content %}