{% extends 'admin/inc/base.html' %}
{% block content %}
<div class="card-header py-3 text-center">
    <h1>Blogs Page</h1>
</div>
<div>
    <div class="mb-5">
        <a href="{% url 'blogs_create' %}" class="btn btn-success float-end mx-5"> <i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="container p-5">
        <div class="card shadow mb-4">
            <div class="card-body">
                <table class="table" style="font-size: 18px;">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for blogs in blogs %}
                        <tr>
                            <td>{{ blogs.name }}</td>
                            <td>
                                <button type="button" class="btn btn-warning"><a href="{% url 'blogs_edit' blogs.pk %}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a></button>
                                <button type="button" class="btn btn-danger"><a href="{% url 'blogs_delete' blogs.pk %}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a></button>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="2">No blogs found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
