{% extends 'admin/inc/base.html' %}
{% block content %}
<h3 class="text-center">Gallery Page</h3>

<div>
    <div class="mb-3"><a href="{% url 'gallery_create' %}" class="btn btn-success float-end mx-5" >Add</a>
    </div>
    <div class="container p-5">
        <table class="table table-bordered" style="font-size:18px;">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
    
            <tbody>
            {% for gallery in gallery %} 
              <tr>
                <td>{{ gallery.title }}</td>
                <td>
                  <button type="button" class="btn btn-warning"><a href="{% url 'gallery_edit' gallery.pk %}" class="btn btn-warning" >
                    Edit</a></button>
                  <button type="button" class="btn btn-danger"><a href="{% url 'gallery_delete' gallery.pk %}" class="btn btn-danger">Delete</a></button>
                </td>
             
              </tr>
            {% empty %}
              <li>No gallerys found.</li>
            {% endfor %}  
            </tbody>
        </table> 
    </div>
</div>
{% endblock content %}