{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block body %}



    <section class="pt-5">
        <div class="footsal-team container pt-5">
            <div class="left-team-section team">
                <div class="team-bg-image">
                    <img src="{{blog.image.url}}" alt="">
                </div>
            </div>
            <div class="right-team-section team">
                <div class="right-team-lists">
                    <h3 class="pb-3">{{ blog.name }}</h3>
                    <div class="team-bg-image1">
                        <div class="card">
                           
                            <div class="card-body">
                              
                              <p class="card-text">{{ blog.description|safe }}</p>
                            </div>
                            <div class="card-footer">
                              <small class="text-muted">Posted on {{ blog.created_at|date:"F d, Y" }}</small>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}