{% extends 'base.html' %}
{% load static %}
{% block title %}Booking{% endblock title %}
{% block body %}
    <section class="book-futsal">
            <div class="book-form login-form11">
                <div class="login-image login-form12 register-image">
                    <img src="{% static 'img/hhh.jpg' %}" alt="">
                </div>
                <div class="book-form-content login-form12">
                    <div class="futsal-title">
                        <h2>Book Futsal Now</h2>
                    </div>
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    <form action="" class="login-form11" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if request.user.is_authenticated %}
                        <button class="button" type="submit" name="submit">Book Futsal</button>
                        {% else %}
                        <a href="{% url 'login' %}" class="button" style="text-decoration: none;">Login</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        
    </section>

    {% endblock %}