{% extends 'base.html' %}
{% load static %}
{% block title %}Create Team{% endblock title %}
{% block head %}
{% endblock head %}
{% block body %}
    <section class="custom-booking-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <br/>
                    <br/>
                    <div class="custom-title" style="text-align: center; font-weight: bold;">
                        <h2>Create Team</h2>
                    </div>
                    
                    <div class="ctimage">
                        <img src="{% static 'img/team.png' %}" alt="" class="img-fluid" style="height: 50vh; width: 60vh; margin-top: 100px; margin-left: 80px">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="custom-form-bg custom-login-form">
                        <div class="custom-form-content custom-login-form">
                           
                            {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                            {% endfor %}
                            <form action="" class="custom-login-form" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="card-button" type="submit" name="submit">Create Team</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
