{% extends 'base.html' %} 
{% load ratings %}
{% load static %}
{% block css %}
{% load custom_filters %}
<style></style>
{% endblock css %} {% block body %}





<style>
  #chat1 .form-outline .form-control~.form-notch div {
pointer-events: none;
border: 1px solid;
border-color: #eee;
box-sizing: border-box;
background: transparent;
}

#chat1 .form-outline .form-control~.form-notch .form-notch-leading {
left: 0;
top: 0;
height: 100%;
border-right: none;
border-radius: .65rem 0 0 .65rem;
}

#chat1 .form-outline .form-control~.form-notch .form-notch-middle {
flex: 0 0 auto;
max-width: calc(100% - 1rem);
height: 100%;
border-right: none;
border-left: none;
}

#chat1 .form-outline .form-control~.form-notch .form-notch-trailing {
flex-grow: 1;
height: 100%;
border-left: none;
border-radius: 0 .65rem .65rem 0;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading {
border-top: 0.125rem solid #39c0ed;
border-bottom: 0.125rem solid #39c0ed;
border-left: 0.125rem solid #39c0ed;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading,
#chat1 .form-outline .form-control.active~.form-notch .form-notch-leading {
border-right: none;
transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle {
border-bottom: 0.125rem solid;
border-color: #39c0ed;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle,
#chat1 .form-outline .form-control.active~.form-notch .form-notch-middle {
border-top: none;
border-right: none;
border-left: none;
transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing {
border-top: 0.125rem solid #39c0ed;
border-bottom: 0.125rem solid #39c0ed;
border-right: 0.125rem solid #39c0ed;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing,
#chat1 .form-outline .form-control.active~.form-notch .form-notch-trailing {
border-left: none;
transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus~.form-label {
color: #39c0ed;
}

#chat1 .form-outline .form-control~.form-label {
color: #bfbfbf;
}
</style>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <img
        src="{{ futsal.image.url }}"
        alt="{{ futsal.name }}"
        class="img-fluid w-100"
        style="height: 300px; object-fit: cover"
      />
    </div>
  </div>
  
  <div class="container py-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body" style="color: #333;">
                    <h1 class="card-title">{{ futsal.name }}</h1>
                    <p class="card-text"><i class="fa-solid fa-location-dot"></i>       {{ futsal.location }}</p>
                    <p class="card-text">{{ futsal.description }}</p>
                    <p class="card-text"><b>Price: Rs. {{ futsal.price }}/hrs</b></p>
                    <a href="{% url 'book_futsal' %}" class="card-button"> Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
              <div class="card-body text-center">
                 
                  <button id="chatButton" type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="{% static 'img/Chat.png' %}" alt="Chat Image" style="width: 24px; height: 24px; margin-right: 5px;">
                    Chat Now
                </button>
              </div>
          </div>
      </div>

      <!-- script to trigger click event -->
      <script>
        // Wait for the page to load
        document.addEventListener("DOMContentLoaded", function() {
            
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('chat_clicked')) {
                // Simulate a click event on the button with id "chatButton"
                document.getElementById("chatButton").click();
            }
        });
      </script>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="card" id="chat1" style="border-radius: 15px;">
                                        <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                                            style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                                            <p class="mb-0 fw-bold">chat</p>
                                            <i type="button" class="fas fa-times" data-bs-dismiss="modal" aria-label="Close"></i>
                                        </div>
                                        <div class="card-body">
                                            {% if user.is_authenticated %}
                                            {% if chat_messages %} <ul>
                                                {% for message in chat_messages %}

                                                <div class="d-flex flex-row justify-content-start mb-4">
                                                    <img src="{% static 'img/RG Bucket list.jpg' %}"
                                                        alt="avatar 1" style="width: 45px; height: 100%;">
                                                    <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                                                        <p class="small mb-0">{{ message.timestamp }} - {{ message.user }}: {{ message.message }}</p>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                {% else %}
                                                <p>No chat messages yet.</p>
                                                {% endif %}
                                                <div class="form-outline">
                                                    <form action="" method="POST">
                                                        {% csrf_token %}
                                                        {{ chat_form.as_p }}
                                                        <button type="submit" class="btn btn-sm btn-danger">Send<i class=" ms-1 fas fa-play"></i></button>
                                                    </form>
                                                </div>
                                                {% else %}
                                                <p>You must be logged in to send a message.</p>
                                                <a href="{% url 'login' %}">Log in</a>
                                                {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            
        </div>
    </div>
</div>

  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <iframe src="{{ futsal.location_url }}" width="100%" height="250" style="border:0;" allowfullscreen="" 
        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>


  <section>
    <div class="container">
        <h2 class="text-center text-success mb-4">Latest Booked Date of {{ futsal}}</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">S.N.</th>
                        <th scope="col">Futsal Name</th>
                        <th scope="col">User</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for futsal in futsalDetail %}
                    
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ futsal.futsal.name }}</td>
                        <td>{{ futsal.user }}</td>
                        <td>{{ futsal.date }}</td>
                        <td>From {{ futsal.start_time }} - {{ futsal.end_time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </section>



  <div class="container py-5">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="title text-center">
                        <h5><b>Write your review</b></h5>
                    </div>
                    <form method="post">
                        {% csrf_token %} 
                        Desc{{ form.text|add_class:"form-control border-dark" }}<br/>
                         <i class="fa-solid fa-star fa-regular"></i><i class="fa-solid fa-star fa-regular"></i><i class="fa-regular fa-star-half-stroke"></i>{{ form.rating|add_class:"form-control border-dark" }}
                        <button type="submit" class="btn btn-primary mt-3">Submit Review</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12">
            <div class="card">
                <div class="card-body" style="">
                    <h5>Current Reviews</h5>
                    <div class="review" style="height:200px; overflow-y: auto;">
                        {% for review in reviews %}
                        <p>Review: {{ review.text }}</p>
                        <p>Rated: {{ review.rating }}<i class="fa-solid fa-star fa-regular"></i>
                            <div class="rating" data-rating="{{ review.rating }}"></div>
                        </p>
                        <p>By: {{ review.user.username }}</p>
                        <hr>
                        {% empty %}
                        <p>No reviews yet.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




    </div>
  </div>
</div>
  {% endblock %}
  
{% block scripts %}

<script>
    var ratings = document.querySelectorAll('.rating');
    ratings.forEach(function(rating) {
        var stars = rating.children;
        var numStars = parseInt(rating.getAttribute('data-rating'));
        for (var i = 0; i < numStars; i++) {
            stars[i].classList.remove('fa-star-o');
            stars[i].classList.add('fa-star');
        }
    });
</script>
{% endblock scripts %}
