{% extends 'base.html' %}
{% load static %}
{% block body %}

<style>
    
    form input[type="email"]
     {
        border: 1px solid black; 
        border-radius: 0.25rem; 
        padding: 0.375rem 0.75rem; 
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center bg-primary text-white">
                    <h2>Password Reset Form</h2>
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
