{% extends 'base.html' %} 
{% load static %} 
{% block title %} Dashboard {% endblock title %} {% block body %}
<!-- sliders -->

<div class="latest-listed-items" style="background-color: aliceblue;">
  <div class="footsal-highlight">
      <div class="foot-match-content">
          <a href="{% url 'futsal'%}">
              <i class="fa-solid fa-futbol fa-xl"></i>
               <h4>Futsal</h4>
          </a>
      </div>
  </div>
  <div class="footsal-highlight">
      <div class="foot-match-content">
          <a href="{% url 'match_list' %}">
              <i class="fa-solid fa-home "></i>
              <h4>Match</h4>
          </a>
      </div>
  </div>
  <div class="footsal-highlight">
      <div class="foot-match-content">
          <a href="{% url 'team' %}">
              <i class="fa-solid fa-users "></i>
              <h4>Team</h4>
          </a>
      </div>
  </div>
</div>




<!-- sliders -->
<section>
  <div class="test-section">
    <h3>All Futasl Teams</h3>
  </div>
</section>
<!-- sliders -->
<div class="text-center mb-3" style="font-size:50px">
  <a href="{% url 'match_create' %}" class="btn btn-danger" >Create Match</a>
</div>
<section>
  <div class="container">
    {% for team in teams %}
    <div class="row">
        {% if team.team_image %}
        <div class="col-lg-6 col-md-6 col-sm-12 py-3">
            <img
            src="{{team.team_image.url}}"
            alt="" class="img-thumbnail"
            style="width: 500px; height: 250px; object-fit: cover"/>
        </div>
        {% endif %}
        <div class="col-lg-6 col-md-6 col-sm-12 py-3">
          <a href="{% url 'team_detail' team.id %}" class="text-decoration-none">
            <h4>{{team.name}}</h4></a
          >
          <p>From {{team.location}}</p>
          <p>Join Date: {{team.join_date}}</p>
        </div>
    </div>
    {% endfor %}
    
  </div>
  <div class="pagination-custom">
    <a href="">Pre</a>
    <a href="">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">Next</a>
  </div>
</section>

{% endblock %}
