{% extends 'admin/inc/base.html' %}
{% block content %}
<h1>Match List</h1>

<div>
    <div class="mb-5"><a href="{% url 'adminmatch_create' %}" class="btn btn-success float-end mx-5" ><i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="container p-5">
        <div class="card shadow mb-4">
            <div class="card-body">
                <table class="table" style="font-size:18px;">
                    <thead>
                      <tr>
                        <th scope="col">Futsal</th>
                        <th scope="col">First Team</th>
                        <th scope="col">Second Team</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
            
                    <tbody>
                    {% for match in match %} 
                      <tr>
                        <td>{{ match.futsal }}</td>
                        <td>{{ match.first_team }}</td>
                        <td>{{ match.second_team }}</td>
                        <td>
                          <button type="button" class="btn btn-warning"><a href="{% url 'adminmatch_edit' match.pk %}" class="btn btn-warning" >
                            <i class="fa-solid fa-pen-to-square"></i></a></button>
                          <button type="button" class="btn btn-danger"><a href="{% url 'adminmatch_delete' match.pk %}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a></button>
                        </td>
                     
                      </tr>
                    {% empty %}
                      <tr>
                        <td colspan="4">No matches found.</td>
                      </tr>
                    {% endfor %}  
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
</div>
{% endblock content %}
